[submodule "libs/CLI11"]
	path = libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "libs/pcm_utils"]
	path = libs/pcm_utils
	url = https://github.com/ololoshka2871/pcm_utils.git
[submodule "libs/progress-cpp"]
	path = libs/progress-cpp
	url = https://github.com/prakhar1989/progress-cpp.git
